*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rout
*.zip
*.Rproj
AMPHIBIANS.zip
REPTILES.zip
MAMMALS.zip
reptiles_hybas_table.zip
*.csv.gz
*.Rproj
*.tif
*.rds
*.rda
Species_table/
rij_mammal.csv
rij_reptile.csv
rij_bird.csv
rij_amphibian.csv
Vulnerable_C_Total_2018/
VulC_MollFocal/
.Rproj.user
