*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rout
*.zip
*.Rproj
AMPHIBIANS.zip
REPTILES.zip
MAMMALS.zip
reptiles_hybas_table.zip
*.csv.gz
*.Rproj
*.RDataTmp
*.RDataTmp1
*.RDataTmp2
*.rds
*.rda
*.csv
*.tif
*.tif.aux.xml
*.tif.ovr
*.rar
Figure1208/
Species_table/
rij_mammal.csv
rij_reptile.csv
rij_bird.csv
rij_amphibian.csv
Vulnerable_C_Total_2018/
VulC_MollFocal/
GlobalCells_5km_v221011.csv
.Rproj.user
Photos/
Figures/
Output/
PhotosSH/
rasters/
rastersSH/
rastersSH.rar
rasters.rar
Try_SaudiAra/
